[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mkdocs-material = "*"
mkdocs-git-revision-date-localized-plugin = "*"
mkdocs-git-committers-plugin-2 = "*"
mike = "*"

[requires]
python_version = "3.9"
